<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SIGT - MONITOR</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        setTimeout("location.reload()", 120000);
    </script>

</head>
<body>
    

    <div id="Monitor" style="margin:0px; padding:0px">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)


</body>
</html>
